:root {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 3px;
  }

  --accent: rgba(214,93,14,1) !important;
  --accent-alpha-70: rgba(214,93,14,.7) !important;
  --accent-alpha-20: rgba(214,93,14,.2) !important;

  @media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.8);
      background-color: rgba(255, 255, 255, .1);
    }

    --background: #141818 !important;
    --color: white !important;
    --border-color: rgba(124,111,100, .5) !important;

    --highlight-color: #D79921;
    --blue: #4093CB;
    --red: #CC241D;
    --footnote-selected: #504945
  }

  @media (prefers-color-scheme: light) {
    ::-webkit-scrollbar-thumb {
      background-color: rgba(168, 153, 132, .6);
    }

    --background: #F9F5D7 !important;
    --color: #201030 !important;
    --border-color: rgba(0,0,16,.125) !important;

    --highlight-color: #D79921;
    --blue: #458588;
    --red: #CC241D;
    --footnote-selected: #D5C4A1

    div.logo {
      color: white !important;
    }
  }
}

h2, h3, h4, h5 {
  color: var(--red) !important;
}

// Links
p a, li a, span a {
  color: var(--blue);
}
p a:hover, li a:hover, span a:hover {
  color: var(--accent);
}

h1 {
  font-size: 1.7rem !important;
}

h2 {
  font-size: 1.55rem !important;
}

h3 {
  font-size: 1.4rem !important;
}

h4, h5, h6 {
  font-size: 1.25rem !important;
}


@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

* {
  font-family: 'Fira Code', monospace !important;
}

.post-title {
  font-weight: bold !important;
}

button,
.button,
a.button {
  font-weight: bold;
  text-decoration: none;
}

.framed {
  border: 1px solid var(--accent);
  padding: 20px;
  padding-top: 0px;
}

a.read-more,
a.read-more:hover,
a.read-more:active {
  color: var(--accent);
}

.footer {
  padding: 0px 0;
}

span.post-tags-inline {
  opacity: 0.8 !important;
}

.post {
  &-title {
    --border: 3px dotted var(--accent) !important;

    &:after {
      content: '';
      position: absolute;
      bottom: 2px;
      display: block;
      width: 100%;
      border-bottom: var(--border);
    }
  }

  ul {
    li:before {
      content: '-' !important;
    }
  }
}

blockquote  {
  p:first-of-type::before {
      content: '>' !important;
  }

  p::before {
    content: '' !important;
  }
}

:not(pre) > code {
  color: var(--highlight-color) !important;
}

code {
  table {
    table-layout: auto;
  }

  table, th, td {
    border: 0px dashed var(--accent);
    padding: 0px 0px 0px 10px !important;
    margin: 0px;
  }
  
  td:nth-of-type(2) {
    padding: 0px 0px 0px 0px !important;
  }
}

pre {
  padding: 1rem;
  overflow: auto;
}
// The line numbers already provide some kind of left/right padding
pre[data-linenos] {
  padding: 1rem 0;
}
pre table td {
  padding: 0;
}
// The line number cells
pre table td:nth-of-type(1) {
  text-align: center;
  user-select: none;
}
pre mark {
  // If you want your highlights to take the full width.
  display: block;
  // The default background colour of a mark is bright yellow
  background-color: rgba(254, 252, 232, 0.9);

  color: inherit;
}
mark {
  background-color:#2E3440 !important;
}
pre table {
  width: 100%;
  border-collapse: collapse;
}

.anchor:hover {
  color: var(--accent);
  text-decoration: underline;
}

.anchor {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  .dark-filter {
    filter: invert(93%) hue-rotate(180deg)
  }
}

.footnotes-list li {
  transition: background-color 0.4s;
}

/* Highlight the footnote when it is targeted */
.footnotes-list li:target {
  background-color: var(--footnote-selected);
}

